body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.sortable {
  padding-right: 15px;
  position: relative;
  cursor: pointer;
  width: 100%;
  display: block;
}
.sortable .asc, .sortable .desc {
  position: absolute;
  padding-top: 5px;
  right: 0;
  top: 0;
}

.asc:after, .desc:after {
  display: block;
  content: "";
  border: transparent 5px solid;
  height: 0;
  position: relative;
}

.asc:after {
  border-top: currentColor 5px solid;
  top: 2px;
}

.desc:after {
  border-bottom: currentColor 5px solid;
  top: -2px;
}
